

body{
	padding:0;
	margin:0;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	min-height: 100vh;
	font-family: 'Lato', sans-serif;
	background: url('../images/body.jpg')no-repeat center center fixed;
	background-size: cover;
	padding-top: 40px;
}
.container{
	.header{

		padding:30px;
		border: 1px solid #184d47;
	}
}
#Head{
	.card-header{
		background-color: #204051;
		color: white;
	}
	.card{
		background-color: #3b6978;
		color: white;
		ul{
			display: block;
			.nav-link{
					background-color: #3b6978;
					color: white;
					border:none;
					box-shadow: none;
					border-radius: 0px;
					padding:5px;
					img{
						width: 50px;
						padding:10px;
					}
			}
			.nav-link:hover{
					background-color: #204051;
					color: white;
			}
			.nav-link:focus{
					background-color: #204051;
					color: white;
			}
			.active{
					background-color: #204051;
					color: white;
			}
		}
	}
	.right{
		background-color: #204051;
		color: white;
		padding:0px;
		.tab-content{
			.card-header{
				background-color: #024249;
				text-align: center;
			}
			.text-center{
				text-align: center;
				padding:10px;
				background: url('../images/modal.png');
				background-size: cover;
				img{
					width: 100px;
					border-radius: 50px;
					margin:20px;
					border: 2px solid white;
				}
				img.icon-social{
					width: 50px;
					margin:5px;
					border: 3px solid #3b6978;
					
				}
				img.icon-social:hover{
					width: 50px;
					margin:5px;
					border: 3px solid white;
				}

				hr{
					width: 50%;
				}
			}
			.text-left{
				text-align: left;
				padding:10px;
				background-color: white;
				color:black;
				.card-body{
					padding:0px;
				}
			}
		}
	}

}

#Resume{
	text-align: left;
	.Resume-header{
			background: url('../images/modal.png');
			background-size: cover;
		.row.id{
			padding:10px;
			text-align: center;
			img{
				border-radius: 0px;
				margin: 0 auto;
			}
			h5{
				text-align: left;
				padding-top: 100px;
				font-size:25px;
				margin-bottom: 1px;
			}
			p{
				text-align: left;
				padding:3px;
				margin-bottom: 3px;
				img{
					width: 20px;
				}
			}

		}
		img{
			width: 50px;
			border-radius: 50px;
		}
				img.icon-social{
					width: 50px;
					margin:5px;
					border: 3px solid #3b6978;
					
				}
				img.icon-social:hover{
					width: 50px;
					margin:5px;
					border: 3px solid white;
				}	
				.card-body{
					background-color: #024249;
		.card-header{
			background-color: black;
		}
	}	
	}
	
}

footer{
		background-color: black;
		text-align: center;
		font-size: 12px;
		margin-top: auto;
		padding:20px;
		color:white;
		p{
		margin:0px;
		}
}


$body: #f7f7f7;
$head: #004445;
$cardbody: #f7f7f7;
$link: #009688;

/* media queries */
  @mixin phone{
  	@media only screen and (max-width:480px){
  		@content;
  	}
  }


@mixin ipad{
  	@media only screen and (max-width:768px){
  		@content;
  	}
  }

 @mixin ipadpro{
  	@media only screen and (max-width:1024px){
  		@content;
  	}
  }
