body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-height: 100vh;
  font-family: 'Lato', sans-serif;
  background: url("../images/body.jpg") no-repeat center center fixed;
  background-size: cover;
  padding-top: 40px; }

.container .header {
  padding: 30px;
  border: 1px solid #184d47; }

#Head .card-header {
  background-color: #204051;
  color: white; }
#Head .card {
  background-color: #3b6978;
  color: white; }
  #Head .card ul {
    display: block; }
    #Head .card ul .nav-link {
      background-color: #3b6978;
      color: white;
      border: none;
      box-shadow: none;
      border-radius: 0px;
      padding: 5px; }
      #Head .card ul .nav-link img {
        width: 50px;
        padding: 10px; }
    #Head .card ul .nav-link:hover {
      background-color: #204051;
      color: white; }
    #Head .card ul .nav-link:focus {
      background-color: #204051;
      color: white; }
    #Head .card ul .active {
      background-color: #204051;
      color: white; }
#Head .right {
  background-color: #204051;
  color: white;
  padding: 0px; }
  #Head .right .tab-content .card-header {
    background-color: #024249;
    text-align: center; }
  #Head .right .tab-content .text-center {
    text-align: center;
    padding: 10px;
    background: url("../images/modal.png");
    background-size: cover; }
    #Head .right .tab-content .text-center img {
      width: 100px;
      border-radius: 50px;
      margin: 20px;
      border: 2px solid white; }
    #Head .right .tab-content .text-center img.icon-social {
      width: 50px;
      margin: 5px;
      border: 3px solid #3b6978; }
    #Head .right .tab-content .text-center img.icon-social:hover {
      width: 50px;
      margin: 5px;
      border: 3px solid white; }
    #Head .right .tab-content .text-center hr {
      width: 50%; }
  #Head .right .tab-content .text-left {
    text-align: left;
    padding: 10px;
    background-color: white;
    color: black; }
    #Head .right .tab-content .text-left .card-body {
      padding: 0px; }

#Resume {
  text-align: left; }
  #Resume .Resume-header {
    background: url("../images/modal.png");
    background-size: cover; }
    #Resume .Resume-header .row.id {
      padding: 10px;
      text-align: center; }
      #Resume .Resume-header .row.id img {
        border-radius: 0px;
        margin: 0 auto; }
      #Resume .Resume-header .row.id h5 {
        text-align: left;
        padding-top: 100px;
        font-size: 25px;
        margin-bottom: 1px; }
      #Resume .Resume-header .row.id p {
        text-align: left;
        padding: 3px;
        margin-bottom: 3px; }
        #Resume .Resume-header .row.id p img {
          width: 20px; }
    #Resume .Resume-header img {
      width: 50px;
      border-radius: 50px; }
    #Resume .Resume-header img.icon-social {
      width: 50px;
      margin: 5px;
      border: 3px solid #3b6978; }
    #Resume .Resume-header img.icon-social:hover {
      width: 50px;
      margin: 5px;
      border: 3px solid white; }
    #Resume .Resume-header .card-body {
      background-color: #024249; }
      #Resume .Resume-header .card-body .card-header {
        background-color: black; }

footer {
  background-color: black;
  text-align: center;
  font-size: 12px;
  margin-top: auto;
  padding: 20px;
  color: white; }
  footer p {
    margin: 0px; }

/* media queries */

/*# sourceMappingURL=style.css.map */
